<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>
<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDoList</h1>
        <ul>
            <li>Desarrollada por Darío Guerrero Montero </li>
            <li>Desarrollada por Ignacio Ortega Carrillo</li>
            <li>Versión 1.3.0-SNAPSHOT </li>
            <li>Fecha de release: PENDIENTE</li>
        </ul>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>
