<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Equipos')"></head>

    <body>
    <header th:replace="fragments:: header (username=${usuario.nombre}, userid=${usuario.id})"> </header>

    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col">
                <h2 th:text="'Listado de equipos'"></h2>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Equipo</th>
                        <th th:if="${usuario.getAdministrador()}" >Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="equipo: ${equipos}">
                        <td>
                            <a th:href="@{/equipos/{id}(id=${equipo.id})}" th:text="${equipo.nombre}"></a>
                        </td>
                        <td th:if="${usuario.getAdministrador()}">
                          <a  class="btn btn-primary btn-xs" th:href="@{/equipos/{id}/editar(id=${equipo.id})}"/>Editar</a>
                            <button type="button" class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                                th:onclick="'del(\'/equipo/' + ${equipo.id} + '\')'">Borrar equipo</button></td>

                    </tr>
                    </tbody>
                </table>
                <p><a class="btn btn-primary" th:href="@{/equipos/crear}"> Crear equipo</a>
            </div>
        </div>

    </div>


    </div>

    <div th:replace="fragments::javascript"/>

    <!-- Lanzamos una petición DELETE por JavaScript para borrar una tarea -->
    <script type="text/javascript">
        function del(urlBorrar) {
            if (confirm('¿Estás seguro/a de que quieres borrar el equipo?')) {
                fetch(urlBorrar, {
                    method: 'DELETE'
                }).then((res) => location.reload());
            }
        }
    </script>
</body>
</html>