<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
<header th:replace="fragments:: header (esAdmin=${tarea.usuario.getAdministrador()} ,username=${tarea.usuario.nombre}, userid=${tarea.usuario.id})"> </header>

<div class="container-fluid">

    <h2 th:text="'Modificación de la tarea ' + ${tarea.getId()}"></h2>

    <form method="post" th:action="@{/tareas/{id}/editar(id=${tarea.id})}" th:object="${tareaData}">
        <div class="col-6">
        <div class="form-group">
            <label for="titulo">Título de la tarea:</label>
            <input class="form-control" id="titulo" name="titulo" required th:field="*{titulo}" type="text"/>
            <label for="fechaLimite">Fecha</label>
            <input id="fechaLimite" class="form-control" name="fechaLimite" th:field="*{fechaLimite}" type="date">
            <label for="descripcion">Descripción de la tarea:</label>
            <textarea class="form-control" id="descripcion" name="descripcion" th:text="${tarea.getDescripcion()}" ></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Modificar tarea</button>
        <a class="btn btn-link" href="javascript:history.back(1)">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>