<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Modificar cuenta')"></head>
<header th:replace="fragments :: header (esAdmin=${user.getAdministrador()} ,username=${user.nombre}, userid=${user.id})"> </header>

<body>
<div class="container-fluid">

    <div class="row justify-content-center mb-3">
        <div class="col-auto">
            <h2>Modificar datos de tu cuenta</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post" th:action="@{/modificarPerfil}" th:object="${modificaData}">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input id="nombre" class="form-control" name="nombre" th:placeholder="${user.nombre}" type="text"
                                   th:field="*{nombre}" required/>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña Actual</label>
                            <input id="actualpassword" class="form-control" name="password" placeholder="Contraseña Actual"
                                   type="password" th:field="*{actualpassword}" required/>
                        </div>
                        <div class="form-group">
                            <label for="password">Nueva Contraseña</label>
                            <input id="password" class="form-control" name="password" placeholder="Nueva contraseña"
                                   type="password" th:field="*{password}" required/>
                        </div>

                        <div class="form-group">
                            <label for="password">Repetir Nueva Contraseña</label>
                            <input id="password2" class="form-control" name="password" placeholder="Repetir contraseña"
                                   type="password" th:field="*{password2}" required/>
                        </div>

                        <div class="form-group">
                            <label for="fechaNacimiento">Fecha de nacimiento</label>
                            <input id="fechaNacimiento" class="form-control" name="fechaNacimiento"
                                   th:placeholder="${user.fechaNacimiento}" th:field="*{fechaNacimiento}"/>
                        </div>

                        <button type="submit" class="btn btn-primary">Modificar</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-9">
            <div th:object="${modificaData}">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <ul th:if="${error != null}" class="alert alert-danger">
                <li th:text="${error}"></li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>