<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Equipos')"></head>

    <body>
    <header th:replace="fragments:: header (esAdmin=${usuario.getAdministrador()} ,username=${usuario.nombre}, userid=${usuario.id})"> </header>

    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col">
                <h2 th:text="'Listado de usuarios que componen el equipo ' + ${equipo.getNombre()} "></h2>
            </div>
        </div>
        <div class="subTitle mt-md-4">
            <p>
            <h5 th:text="${equipo.getDescripcion()}"></h5>
            </p>
        </div>
        <div class="row mt-3">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Usuarios</th>
                        <th th:if="${usuario.getAdministrador()}" >Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usuar: ${usuarios}">
                        <td th:text="${usuar.nombre}"></td>
                        <td th:if="${usuario.getAdministrador()}">
                            <button type="button" class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                                    th:onclick="'delu(\'/equipo/'+${equipo.id}+'/'+${usuar.id}+'\')'">Borrar miembro</button>

                        </td>
                    </tr>


                    </tbody>
                </table>
                <form th:action="@{/equipos/{id}/agregar(id=${equipo.id})}" method="post">
                    <button class="btn btn-primary" th:if="${aparezco == false}" >Agregarme</button>
                </form>
                <button th:if="${aparezco == true}" class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                        th:onclick="'del(\'/equipos/' + ${equipo.id} + '\')'">Borrarme</button>

            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row p-3">
            <div class="col">
                <h2 class="d-inline" th:text="'Listado de tareas de ' + ${equipo.nombre}"></h2>
                <a class="btn btn-primary float-right d-inline" th:href="@{/equipos/{id}/tareas/nueva(id=${equipo.id})}">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="container-fluid mt-4">
                <meter id="progreso" class="progress progress-bar d-inline" style="width: 200px;" th:unless="${tareasCompletadas.size() == 0}" th:value="${porcentajeCompletadas}"></meter>
                <label class="ml-3 text-danger d-inline" style="font-size: 14px" for="progreso" th:if="${porcentajeCompletadas < 0.3 && porcentajeCompletadas != 0}">Quedan muchas por hacer...</label>
                <label class="text-warning ml-3 d-inline" style="font-size: 14px" for="progreso" th:if="${porcentajeCompletadas < 0.7 && porcentajeCompletadas >= 0.3}">¡Vas en buen camino!</label>
                <label class="text-info ml-3 d-inline" style="font-size: 14px" for="progreso" th:if="${porcentajeCompletadas >= 0.7 && porcentajeCompletadas < 0.99}">¡Casi lo tienes!</label>
                <label class="text-success ml-3 d-inline" style="font-size: 14px" for="progreso" th:if="${porcentajeCompletadas == 1}">¡Todas hechas!</label>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <div th:replace="fragments :: tablaTareas(tareas=${tareasNoCompletadas}, titulo='Tareas no completadas')"></div>
                <div th:if="${tareasNoCompletadas.size() == 0}" class="alert alert-info" role="alert">
                    No tienes tareas por hacer. ¡Empieza ahora!
                </div>
                <div th:replace="fragments :: tablaTareas(tareas=${tareasCompletadas}, titulo='Tareas completadas')"></div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                    <span th:text="${mensaje}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div th:replace="fragments::javascript"/>

    <!-- Lanzamos una petición DELETE por JavaScript para borrar una tarea -->
    <script type="text/javascript">
        function del(urlBorrar) {
            if (confirm('¿Estás seguro/a de que quieres borrarte del equipo?')) {
                fetch(urlBorrar, {
                    method: 'DELETE'
                }).then((res) => location.reload());
            }
        }
    </script>

    <script type="text/javascript">
        function delu(urlBorrarUsuario){
            if(confirm('¿Estás seguro/a de que quieres borrar el usuario del equipo?')){
                fetch(urlBorrarUsuario,{
                    method: 'DELETE'
                }).then((res)=> location.reload());
            }
        }
    </script>

</body>
</html>