<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Tareas')"></head>

    <body>
    <header th:replace="fragments:: header (esAdmin=${usuario.getAdministrador()} ,username=${usuario.nombre}, userid=${usuario.id})"> </header>

    <div class="container-fluid">
        <div class="row p-3">
            <div class="col">
                <h2 class="d-inline" th:text="'Tareas de ' + ${usuario.nombre}"></h2>
                <a class="btn btn-primary float-right d-inline" th:href="@{/usuarios/{id}/tareas/nueva(id=${usuario.id})}">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="container-fluid mt-4">
                <meter id="progreso" class="progress progress-bar d-inline" style="width: 200px;" th:value="${porcentajeCompletadas}"></meter>
                <label class="ml-3 text-danger d-inline" style="font-size: 14px" for="progreso" th:if="${porcentajeCompletadas < 0.3}">Quedan muchas por hacer...</label>
                <label class="text-warning ml-3 d-inline" style="font-size: 14px" for="progreso" th:if="${porcentajeCompletadas < 0.7 && porcentajeCompletadas >= 0.3}">¡Vas en buen camino!</label>
                <label class="text-info ml-3 d-inline" style="font-size: 14px" for="progreso" th:if="${porcentajeCompletadas >= 0.7 && porcentajeCompletadas < 0.99}">¡Casi lo tienes!</label>
                <label class="text-success ml-3 d-inline" style="font-size: 14px" for="progreso" th:if="${porcentajeCompletadas == 1}">¡Todas hechas!</label>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <div th:replace="fragments :: tablaTareas(tareas=${tareasNoCompletadas}, titulo='Tareas no completadas')"></div>
                <div th:if="${tareasNoCompletadas.size() == 0}" class="alert alert-info" role="alert">
                    No tienes tareas por hacer. ¡Empieza ahora!
                </div>
                <div th:replace="fragments :: tablaTareas(tareas=${tareasCompletadas}, titulo='Tareas completadas')"></div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                    <span th:text="${mensaje}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    </div>

    <div th:replace="fragments::javascript"/>
</body>
</html>