<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Mis equipos')"></head>
<body>
<header th:replace="fragments :: header (esAdmin=${usuario.getAdministrador()}, username=${usuario.getNombre()}, userid=${usuario.getId()})"></header>
<div class="container-fluid">
        <h2 class="titulo p-4 text-capitalize">
            mis equipos
        </h2>
        <div class="px-5 pb-3" th:if="${equipos.size() > 0}" th:each="equipo: ${equipos}">
            <div class="text-muted pb-3">
                <h4><i class="fas fa-mug-hot float-left mr-3 pt-1"></i><a class="btn text-muted font-weight-bolder" th:href="@{/equipos/{id}(id=${equipo.getId()})}" th:text="${equipo.getNombre()}"></a></h4>
                <sub class="font-italic text-black-50 py-2" th:text="${equipo.getDescripcion()}"></sub>
            </div>
            <div th:replace="fragments :: tablaEquipoConTareas (equipo=${equipo}, usuario=${usuario})"></div>
            <div th:unless="${equipo.getTareas().size() > 0}" class="alert alert-info" role="alert">
                No hay tareas.
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                    <span th:text="${mensaje}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments::javascript"/>
</body>
</html>